.alert{
    background-color: rgb(235, 165, 0);
    margin-top: 10px;
    width: 50%;
}
.alert2{
    background-color: rgb(5, 155, 230);
    width: 50%;
    margin-top: 10px;
}
.alert3{
    background-color: rgb(0, 128, 0);
    width: 50%;
    margin-top: 10px;
}