.alert{
    background-color: rgb(235, 165, 0);
    margin-top: 10px;
    width: fit-content;
}
.alert2{
    background-color: rgb(5, 155, 230);
    width: 50%;
    width: fit-content;
}
.alert3{
    background-color: rgb(0, 128, 0);
    width: 50%;
    width: fit-content;
}